.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  min-height: calc(100vh - 6vh);
  display: flex;
  justify-content: center;
}

.angular-app {
  width: 47%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  background: red;
  color: white;
  font-weight: bold;
}

.react-app {
  width: 47%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  background: blue;
  color: white;
  font-weight: bold;
}

.App-link {
  color: #09d3ac;
}
