.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
}

.app-input {
  padding: 20px;
  font-size: 25px;
}

.app-input input {
  margin-left: 10px;
  font-size: 20px;
}


.app-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar-nav {
  float: left;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 250px;
}

.navbar-nav li {
  padding: 5px;
}

.nav-link {
  color: red;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #555;
  color: white;
}

.app-body {
  min-height: calc(100vh - 6vh);
  display: flex;
  justify-content: center;
}

.angular-app {
  width: 100%;
  padding: 15px;
  color: white;
  font-weight: bold;
  border-left: 2px solid black;
}

.both-apps {
  width: 100%;
}

.angular-app-both {
  border: 3px solid red;
  margin-top: 20px;
  padding: 15px;
}

.react-app-both {
  border: 3px solid blue;
  margin-top: 20px;
  padding: 15px;
}

.react-app {
  width: 100%;
  padding: 15px;
  color: white;
  font-weight: bold;
  border-left: 2px solid black;
}

.App-link {
  color: #09d3ac;
}
